/*
    Background STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    /*font-family: 'Poppins', sans-serif;*/
    background: white;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #F7F7EF;;
    color: #21759b;
    transition: all 0.3s;
    position: fixed;
    top: 3em;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* overrides wp set margins*/
.post, .page {
    margin: 0;
}

#page {
    width: 100%;
    padding-left: 250px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content {
    max-width: 740px;
    margin: 0 auto;
    padding: 3rem 2.5rem;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #page {
        padding-left: 0px;
    }
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #btn-sidebar-collapse {
        display: inline-block;
    }
}