
/* ---------------------------------------------------
    header navigation
----------------------------------------------------- */
#header-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background-color:#31ADC0;
}
.navbar-logo{
    display: block;
    width: 2rem;
    height: 2rem;
}
.sidebar-button{ /* uschule logo */
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0.5rem;
    
}
.site-name{
    display: inline-block;
    margin-left: 2.5rem;
    color: #F7F7EF;
    font-size: 1.2rem;
    text-decoration: none;
}

/* ---------------------------------------------------
    search box
----------------------------------------------------- */
.searchbox {
    border: 0px;
    position: relative;
    border-radius: 4px;
}
.searchbox input::-webkit-outer-spin-button,
.searchbox input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.searchbox input[type="number"] {
  -moz-appearance: textfield;
}
.searchbox > input[type="number"]:focus{
    color: #fff;
    outline: none;
}
.searchbox input {
    display: inline-block;
    color: #fff;
    width: 130px;
    height: 30px;
    background: #5CB85C;
    border: 0;
    padding: 0 0 0 15px;
    margin: 0;
    font-weight: 400;
}
.searchbox input::placeholder {
    color: #fff;
}
.searchbox span {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    padding: 0rem 1rem;
    right: 0;
    cursor: pointer;
}

/* hamburger button */
#btn-sidebar-collapse{
    font-size: 2rem;
    color: tomato;
    margin-top: -10px;
    cursor: pointer;
}

/* ---------------------------------------------------
    sidebar navigation
----------------------------------------------------- */
div[class="meinContainer"] a {
    color: #21759b;
    
}
div[class="meinContainer"] ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
div[class="meinContainer"] ul a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05rem;
    padding: 8px 8px 8px 13px;
    text-decoration: none;
}
div[class="meinContainer"] ul ul {
    margin-left: 10px;
    /*border-left: 2px solid rgb(255, 255, 255);*/
}
div[class="meinContainer"] ul li.menu-item-has-children > div.expandable > a{
    margin-right: 40px;
}
/* hide all submenu */
div[class="meinContainer"] .children,
div[class ="meinContainer"] .sub-menu {
    overflow: hidden;
    display: none;
}
div[class="meinContainer"] ul li div.expandable {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    position: relative;
}
/* arrow rotations */
.arrowRight{
    transform: rotate(0deg);
}
.arrowDown{
    transform: rotate(90deg);
}
/* submenu expand arrow icon*/    
div[class="meinContainer"] .navSub {
    position: absolute;
    right: 0;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 100%;
    color: #21759b;
    border: 0;
    /*border-left: 1px solid rgb(255, 255, 255);*/
    /*border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;*/
}
/* events */
div[class="meinContainer"] a[aria-current="page"] {
    color: #606770;
    background-color: white;
    display: flex;
}
div[class="meinContainer"] ul li .navSub:hover,
div[class="meinContainer"] ul li .navSub:focus {
    color: #F7F7EF;
    background-color: #21759b;
    /*color: #38424D;
    background-color: #FF997F;*/
}
div[class="meinContainer"] a:hover {
    color: #F7F7EF;
    background-color: #21759b;
}

