/*  */
.menu-item-has-children a::after{
    display: inline-block;
    content: " ";
    background-image: url('data:image/svg+xml, <svg  viewBox="0 0 16 16" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg"><path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/></svg>');
    background-repeat: no-repeat;
    background-size: 1em 1em;
    width: 1em;
    height: 1em;
}

#sidebar-header{
    text-align: center;
    background-color: tomato;
}
/* */
#btn-sidebar-collapse{
    font-size: 2em;
    color: tomato;
    margin-top: -10px;
    cursor: pointer;
}

div[class="meinContainer"] a {
    color: white;
}
div[class="meinContainer"] ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
div[class="meinContainer"] ul ul {
    margin-left: 10px;
    border-left: 2px solid rgb(255, 255, 255);
}
/* */
div[class="meinContainer"] ul a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.05em;
    padding: 8px 8px 8px 13px;
    text-decoration: none;
}
/* hide all submenu */
div[class="meinContainer"] .children, div[class ="meinContainer"] .sub-menu {
    overflow: hidden;
    display: none;
}

div[class="meinContainer"] ul li .expandable {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    position: relative;
}

/* submenu expand arrow icon*/
div[class="meinContainer"] .navSub {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 4px 8px;
    display: inline-block;
    font-size: 20px;
    width: 40px;
    height: 100%;
    color: white;
    background-color: #38424D;
    border: 0;
    border-left: 1px solid rgb(255, 255, 255);
    border-radius: 0;
    box-shadow: none;
    -webkit-appearance: none;
}
/* hover */
div[class="meinContainer"] ul li .navSub:hover,
div[class="meinContainer"] ul li .navSub:focus {
    color: #38424D;
  background-color: white;
}
div[class="meinContainer"] a:hover {
    color: #38424D;
    background-color: white;
}